.dragging {
    position: relative;
    z-index: 10;
    cursor: grabbing;
    pointer-events: none;
}

.joined {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}


.imsi {
    box-sizing: border-box;
    color: var(--cWhite);
    background-color: lightgray;
    border-radius: 0.5rem;
    border: 0.3em solid gray;
}

.target-ph {
    box-shadow: 0 0 1rem 1 yellow;
}

.block-wrapper {
    position: absolute;
    padding: 0;
    margin: 0;
}

.next-block {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 2rem;
}

.block {
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    width: fit-content;
    color: var(--cWhite);
    background-color: var(--mainColor);
    white-space: pre;
    border-radius: 0.5rem;
    border: 0.3em solid var(--subColor);
    cursor: grab;
    display: flex;
    align-items: center;
    max-height: 2.3rem;
}

.value {
    position: absolute;
    display: inline-flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    max-height: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    width: fit-content;
    color: var(--cWhite);
    white-space: pre;
    background-color: var(--mainColor);
    border-radius: 100rem;
    border: 0.2em solid var(--subColor);
    cursor: grab;
    z-index: 6;
}

.cblock {
    display: grid;
    grid-template-columns: min-content;
    width: fit-content;
    overflow: hidden;
    cursor: grab;
}

.cblock-display {
    margin-bottom: 5%;
}

.cblock-top {
    padding: 0.5rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    width: fit-content;
    color: var(--cWhite);
    background-color: var(--mainColor);
    white-space: pre;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    border: 0.3em solid var(--subColor);
    max-height: 2.3rem;
    cursor: grab;
}

.cblock-middle {
    width: 0;
    min-width: 100%;
    min-height: 1.2rem;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.cblock-left {
    box-sizing: border-box;
    background-color: var(--mainColor);
    border-right: 0.3em solid var(--subColor);
    border-left: 0.3rem solid var(--subColor);
    width: 1.2rem;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.cblock-bottom {
    width: 9;
    min-width: 100%;
    min-height: 1.4rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    background-color: var(--mainColor);
    border: 0.3rem solid var(--subColor);
}

.ph {
    width: fit-content;
    border-radius: 3rem;
    border: 0.1rem solid var(--mWhite);
    margin: 0 0.1rem;
    padding: 0 0.3rem;
    text-align: center;
    font-size: 0.7rem;
    color: var(--mBlack);
    background-color: var(--cWhite);
    cursor: text;
}

.ph:has(> .value) {
    background-color: var(--mainColor);
    border: 0;
}