:root {
    --mBlack: #1A1C20;
    --mBlack-filter: invert(10%) sepia(21%) saturate(311%) hue-rotate(182deg) brightness(94%) contrast(97%);
    --deepgray: #30343b;
    --mWhite: #f0f2f5;
    --mWhite-filter: invert(99%) sepia(3%) saturate(30%) hue-rotate(291deg) brightness(107%) contrast(96%);
    --cWhite: #fafafa;
    

    --paletteColor: #4e4ef4;
}

body {
    margin: 0;
    font-family: 'Pretendard';
    color: var(--mBlack);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: auto 0.4fr 0.5fr 0.1fr auto;
    grid-template-areas:
    "header header"
    "workspace variable"
    "workspace terminal"
    "workspace control"
    "footer footer";
    height: 100vh;
    
}

/* 헤더 관련 */
header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    justify-content: space-between;
    background: linear-gradient(var(--mWhite) 90%, #ededed 100%);
}

#logos {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    align-items: center;
}

#logo-img {
    background-image: url('../imgs/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 35px;
    min-height: 35px;
    margin-right: clamp(0.5rem,0.2vw,2rem);
    filter: var(--mBlack-filter);
}

#logo-text {
    font-size: clamp(1.2rem,1.2vw,2.2rem);
    font-weight: 700;
}

#btns {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    align-items: center;
    gap: 1rem;
}
.btn {
    position: relative;
    width: 2vw;
    height: 2vw;
    min-width: 30px;
    min-height: 30px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #1A1C20 70%, transparent 70%);
  opacity: 0;
  transition: opacity .2s, transform .2s;
  z-index: 1;
  pointer-events: none;
  border-radius: 50%;
}
.btn:hover::before{
  opacity: 1;
  transform: scale(1.02);
}
.btn .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    transition: transform ease 0.2s;
    filter: var(--mBlack-filter);
}
.btn:hover .icon {
  transform: scale(1.1);
  filter: var(--mWhite-filter);
}

#setting-btn .icon {
    background-image: url('../imgs/setting_icon.png');
}
#darkmode-btn .icon {
    background-image: url('../imgs/darkmode_icon.png')
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#variable-section {
    grid-area: variable;
    background-color: rgba(0, 255, 0, 0.3);
}
footer {
    grid-area: footer;
    background: linear-gradient(0deg, var(--mWhite) 90%, #ededed 100%);
    height: 5vh;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-text {
    font-size: 0.8rem;
    font-weight: 600;
    color: #adb5bd;
}